 {% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Genshin Builds{% endblock %}</title>
    
    {% load static %}
    
    
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    {% block extra_js %}
        <script src="{% static 'js/js.js' %}"></script>
    {% endblock %}
</body>
</html>