{% extends 'module_project/base.html' %}
{% load static %}

{% block title %}Последние сборки — Genshin Builds{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">

    <h1 class="main-title">Последние сборки персонажей</h1>
    <p class="subtitle">Свежие билды от сообщества</p>

    <div class="scroll-section">
        <button class="scroll-btn scroll-btn-left" id="scroll-left">‹</button>
        
        <div class="builds-scroll">
            {% for build in latest_builds %}
            <div class="build-card">
                <div class="card-image">
                    {% if build.character.character_image %}
                        <img src="{{ build.character.character_image.url }}" alt="{{ build.character.name }}">
                    {% endif %}
                    <div class="build-stats">{{ build.character.name }}</div>
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{ build.name }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>

        <button class="scroll-btn scroll-btn-right" id="scroll-right">›</button>
    </div>

    <div class="stat-badge">
        <p class="stats-text">Всего сборок в базе </p>        
        <p class="stats-number">{{ count_builds }}</p>
    </div>

    <div class="text-center">
        <a class="btn-add">+ Добавить свою сборку</a>
    </div>

</div>
{% endblock %}